@use "variables" as *;
@use "atoms";

.summary {
  color: #1a181e;
  padding: 5% 5%;
  background: #fff;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  margin-block: 15px;
}
.preamble,
.explanation,
.requirements {
  background: $accent3;
  color: $text-light;
  box-shadow: 5px 5px 10px #161c1c;
}
// The next 2 classes fit together 2 seperate html elements so every style is complimentary to the other
.preamble {
  padding: 30px 30px 10px 30px;
  border-radius: 20px 20px 0 0;
}
.explanation {
  padding: 0px 30px 30px 30px;
  border-radius: 0 0 20px 20px;
}

.participation,
.benefits {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  color: #1a181e;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}
