@use "variables" as *;

header {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  font-family: "Oswald", serif;
  color: #f7f7f7;
  width: fit-content;
  text-transform: uppercase;
  background-color: #a67e2d;
  position: relative;
  padding: 1% 5% 1% 5%;
}

[role="banner"] > header:hover {
  background-color: $accent3;
}

html,
body,
.main-supporting {
  margin: 0px;
  box-sizing: border-box;
  background-color: $background;
  a {
    color: $primary;

    &:hover {
      color: $background;
    }
  }
}
.intro,
.supporting {
  padding: 0% 5%;
}
.supporting {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.requirements {
  padding: 30px;
  background-color: $accent3;
  border-radius: 20px;
  color: $text-light;
  box-shadow: 5px 5px 10px #161c1c;
}
footer,
.sidebar {
  color: $text-light;
  padding: 20px;
}

footer {
  font-family: "Oswald", serif;
  width: 100vw;
  margin: 0 -5%;
}

.sidebar {
  background-color: $accent1;
}

.design-selection h3,
.zen-resources h3,
.design-archives h3 {
  font-family: "Oswald", serif;
  font-size: medium;
}

.design-selection li,
.zen-resources li,
.design-archives li {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  list-style: none;
}
.intro {
  padding-top: 20px;
}
.design-selection .designer-name,
.zen-resources .designer-name,
.design-archives .designer-name {
  color: #f7f7f7;
}
body {
  background-color: #f8f9fa;
}
//!!START LARGER CSS!!//
@media (min-width: 768px) {
  // Start Larger Css
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }

  header {
    /* padding-inline: 1.5em; */
    position: relative;
    z-index: 1;
    transform: translate(10%, 0%);
  }
  .summary {
    width: clamp(210px, 50%, 75%);
    margin-bottom: -20px;
    border-radius: 8px;
    position: relative;
    transform: translate(0%, -20%);
    padding-bottom: 20px;
  }
  .design-selection {
    width: auto;
  }

  .zen-resources,
  .design-archives {
    grid-column: 1/2;
  }
  .benefits:hover,
  .participation:hover {
    transform: scale(1.03);
  }
  .benefits,
  .participation {
    flex: 1;
    padding: 30px;
    background-color: $accent4;
    border-radius: 20px;
    color: $accent1;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    h3 {
      font-size: larger;
      font-family: "Oswald";
      text-transform: uppercase;
    }
    a {
      color: $primary;
    }
  }

  #design-selection {
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  #design-selection ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
  .design-selection li {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    white-space: nowrap;
  }

  @keyframes loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
