@use "variables" as *;

.intro {
  padding: 5% 7% 0 7%;
}
.summary {
  background-color: $accent1;
}

[role="banner"] > h1 {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

[role="banner"] > h1:hover {
  background-color: $primary;
}

html,
body,
.main-supporting {
  margin: 0px;
  box-sizing: border-box;
  background-color: $accent2;
  p {
    font-family: $fonts-body;
  }
  a {
    color: $primary;
  }
}

.supporting {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.requirements {
  padding: 30px;
  margin: 0 7% 0 7%;
  background-color: $accent3;
  border-radius: 20px;
  color: $text-light;
  box-shadow: 5px 5px 10px #161c1c;
}
footer,
.sidebar {
  color: $text-light;
  padding: 20px;
  a {
    color: $primary;
  }
}

footer {
  background-color: $accent1;
  width: 100vw;
  font-family: $fonts-headline;
  position: relative;
}

.sidebar {
  background-color: $accent1;
}

.design-selection h3,
.zen-resources h3,
.design-archives h3 {
  font-family: "Oswald", serif;
  font-size: medium;
}

.design-selection li,
.zen-resources li,
.design-archives li {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  list-style: none;
}

.design-selection .designer-name,
.zen-resources .designer-name,
.design-archives .designer-name {
  color: #f7f7f7;
}
//!!START LARGER CSS!!//
@media (min-width: 768px) {
  // Start Larger Css
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
  .design-selection {
    width: auto;
  }

  .zen-resources,
  .design-archives {
    grid-column: 1/2;
  }
  .benefits:hover,
  .participation:hover {
    transform: scale(1.03);
  }
  .benefits,
  .participation {
    flex: 1;
    padding: 30px;
    background-color: $accent4;
    border-radius: 20px;
    color: $accent1;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    h3 {
      font-size: larger;
      font-family: "Oswald";
      text-transform: uppercase;
    }
    a {
      color: $primary;
    }
  }
  .participation {
    margin: 0 0 0 7%;
  }
  .benefits {
    margin: 0 7% 0 0;
  }
  #design-selection {
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  #design-selection ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
  .design-selection li {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    white-space: nowrap;
  }

  @keyframes loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
