@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Oswald&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Oswald", serif;
  margin: 0;
}

h2 {
  font-size: smaller;
  text-transform: none;
  text-align: center;
}

h3 {
  font-size: larger;
  font-family: "Oswald", serif;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

/* Override rule */
abbr[title] {
  text-decoration: none; /* Removes the text-decoration */
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a181e;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #1a181e;
}

.summary {
  color: #1a181e;
  padding: 5% 5%;
  background: #fff;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  margin-block: 15px;
}

.preamble,
.explanation,
.requirements {
  background: #25232b;
  color: #f7f7f7;
  box-shadow: 5px 5px 10px #161c1c;
}

.preamble {
  padding: 30px 30px 10px 30px;
  border-radius: 20px 20px 0 0;
}

.explanation {
  padding: 0px 30px 30px 30px;
  border-radius: 0 0 20px 20px;
}

.participation,
.benefits {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  color: #1a181e;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

header {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  font-family: "Oswald", serif;
  color: #f7f7f7;
  width: fit-content;
  text-transform: uppercase;
  background-color: #a67e2d;
  position: relative;
  padding: 1% 5% 1% 5%;
}

[role=banner] > header:hover {
  background-color: #25232b;
}

html,
body,
.main-supporting {
  margin: 0px;
  box-sizing: border-box;
  background-color: #edeef0;
}
html a,
body a,
.main-supporting a {
  color: #e1b644;
}
html a:hover,
body a:hover,
.main-supporting a:hover {
  color: #edeef0;
}

.intro,
.supporting {
  padding: 0% 5%;
}

.supporting {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.requirements {
  padding: 30px;
  background-color: #25232b;
  border-radius: 20px;
  color: #f7f7f7;
  box-shadow: 5px 5px 10px #161c1c;
}

footer,
.sidebar {
  color: #f7f7f7;
  padding: 20px;
}

footer {
  font-family: "Oswald", serif;
  width: 100vw;
  margin: 0 -5%;
}

.sidebar {
  background-color: #1a181e;
}

.design-selection h3,
.zen-resources h3,
.design-archives h3 {
  font-family: "Oswald", serif;
  font-size: medium;
}

.design-selection li,
.zen-resources li,
.design-archives li {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  list-style: none;
}

.intro {
  padding-top: 20px;
}

.design-selection .designer-name,
.zen-resources .designer-name,
.design-archives .designer-name {
  color: #f7f7f7;
}

body {
  background-color: #f8f9fa;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
  header {
    /* padding-inline: 1.5em; */
    position: relative;
    z-index: 1;
    transform: translate(10%, 0%);
  }
  .summary {
    width: clamp(210px, 50%, 75%);
    margin-bottom: -20px;
    border-radius: 8px;
    position: relative;
    transform: translate(0%, -20%);
    padding-bottom: 20px;
  }
  .design-selection {
    width: auto;
  }
  .zen-resources,
  .design-archives {
    grid-column: 1/2;
  }
  .benefits:hover,
  .participation:hover {
    transform: scale(1.03);
  }
  .benefits,
  .participation {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    color: #1a181e;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
  }
  .benefits h3,
  .participation h3 {
    font-size: larger;
    font-family: "Oswald";
    text-transform: uppercase;
  }
  .benefits a,
  .participation a {
    color: #e1b644;
  }
  #design-selection {
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  #design-selection ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
  }
  #design-selection ul:hover {
    animation-play-state: paused;
  }
  .design-selection li {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    white-space: nowrap;
  }
  @keyframes loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

/*# sourceMappingURL=style.css.map */
